header {
    width: 100%;
    max-height: 430px;
    height: 100%;
    display: block;
    position: relative;
}

@media (max-width:1190px) {
   header {
    width: 100%;
   }
}
@media (max-width:992px) {
   header {
    width: 100%;
   }
}
@media (max-width:760px) {
    header {
        width: 100%;
    }
}
@media (max-width:470px) {
    header {
        width: 100%;
    }
}

header > img {
    width: 100%;
    max-height: 430px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width:1190px) {
    header > img {
    min-width: 450px;
    width: 100%;
    }
}

@media (max-width:460px) {
    header > img {
    max-width: none;
    width: 100%;
    }
}
.title-head {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
}

@media (max-width:1190px) {
    .title-head {
     width: 100%;
    }
 }
 @media (max-width:992px) {
    .title-head {
     width: 100%;
    }
 }
 @media (max-width:760px) {
    .title-head {
         width: 100%;
    }
 }
 @media (max-width:470px) {
    .title-head {
         width: 100%;
    }
 }

.title-head__name {
    font-size: 60px;
    color: wheat;
    text-transform: uppercase;
    letter-spacing: 5px;

    font-family: 'Irvin';
    font-weight: 700;
    text-decoration: underline;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width:1190px) {
    .title-head__name {
     width: 100%;
     font-size: 50px;
    }
 }
 @media (max-width:992px) {
    .title-head__name {
     width: 100%;
     font-size: 40px;
    }
 }
 @media (max-width:760px) {
    .title-head__name{
         width: 100%;
         font-size: 30px;
    }
 }
 @media (max-width:470px) {
    .title-head__name {
         width: 100%;
         font-size: 20px;
         align-items: center;
         justify-content: center;
         text-align: center;
    }
 }